%h1 Fighters#new
%p Find me in app/views/fighters/new.html.haml

= simple_form_for @fighter do |f|
  = f.input :firstname, label: 'Firstname'
  = f.input :lastname, label: 'Lastname'
  = f.input :description, label: 'Description (Optional)'
  #h3 Skills
  .form.form-inline
    = f.simple_fields_for :skills do |skill|
      = render 'skill_fields', f: skill
    .links
      = link_to_add_association 'add task', f, :skills, class: :btn
  .actions
    = f.button :submit
