%h1 Fighters#new
%p Find me in app/views/fighters/new.html.haml

= simple_form_for @fighter do |f|
  = f.input :firstname, label: 'Firstname'
  = f.input :lastname, label: 'Lastname'
  = f.input :description, label: 'Description (Optional)'
  = f.button :submit, 'Create'
