%h2 Name: #{@fighter_info.firstname + ' ' + @fighter_info.lastname}
%h2 Skills:
%table.table
  %thead
    %tr
      %th Name
      %th Level
  %tbody
    - @skills.each do |skill|
      %tr
        %td= skill.name
        %td= skill.level

%h2 Statistic
%h3 Wins: #{@count_wins}
%h3 Loses: #{@count_loses}
%h3 Averange W/L: #{@averange}
%h3 Fights played: #{@count_fights}
%h3 Experience points: #{@fighter_info.exp_points}
%h3 Strongest Attack: #{@strongest_attack}
%h3 Weakest Attack: #{@weakest_attack}
