%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  %ul.nav.navbar-nav
    %li= link_to 'Home', root_path
    %li= link_to 'New Fighter', new_fighter_path
    %li= link_to 'New Fight', new_fight_path

%h1 Rankings

%h2 The Most Fights
%table#most_fights.table.table-bordered.dataTable
  %thead
    %tr
      %th Nr
      %th Full Name
      %th Experience Points
      %th Fights
      %th{ colspan: "1" }
  %tbody
    - @fighters.each do |fighter|
      %tr
        %td
        %td= fighter.firstname + ' ' + fighter.lastname
        %td= fighter.exp_points
        %td= send(:count_fights, fighter.id)
        %td= button_to 'Show Fighter', fighter_path(fighter.id), method: :get, class: 'btn btn-info btn-sm'

%h2 Highest Win/Lose Ratio
%table#most_win_lose.table.table-bordered.dataTable
  %thead
    %tr
      %th Nr
      %th Full Name
      %th Experience Points
      %th Fights
      %th{ colspan: "1" }
  %tbody
    - @fighters.each do |fighter|
      %tr
        %td
        %td= fighter.firstname + ' ' + fighter.lastname
        %td= fighter.exp_points
        %td= send(:averange_wins, fighter.id)
        %td= button_to 'Show Fighter', fighter_path(fighter.id), method: :get, class: 'btn btn-info btn-sm'

%h2 The Most Powerful Attack
%table#most_pow_attack.table.table-bordered.dataTable
  %thead
    %tr
      %th Nr
      %th Full Name
      %th Experience Points
      %th Strongest Attack
      %th{ colspan: "1" }
  %tbody
    - @fighters.each do |fighter|
      %tr
        %td
        %td= fighter.firstname + ' ' + fighter.lastname
        %td= fighter.exp_points
        %td= send(:strongest_attack, fighter.id)
        %td= button_to 'Show Fighter', fighter_path(fighter.id), method: :get, class: 'btn btn-info btn-sm'
