Hello, #{@fighter.firstname} #{@fighter.lastname}
Unfortunately, you lost this Duel, but don't worry there's always next time!
Below more information about your last fight:
Used skill: #{@skill.name}
Skill attack: #{@result.loser_attack}
Experience Points: #{@fighter.exp_points}

Information about your oponent:
Name: #{@oponent.firstname} #{@oponent.lastname}
Job: #{ @job.name }
Used skill: #{@skill_win.name}
Skill attack: #{@result.winner_attack}
