Hello, #{@fighter.firstname} #{@fighter.lastname}
Congratulations, you won this Duel!
Below more information about your last fight:
Used skill: #{@skill.name}
Skill attack: #{@result.winner_attack}
Experience Points: #{@fighter.exp_points}

Information about your oponent:
Name: #{@oponent.firstname} #{@oponent.lastname}
Job: #{ @job.name }
Used skill: #{@skill_lost.name}
Skill attack: #{@result.loser_attack}
